body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.lienzo{
    display: flex;
}
#reload-button{
    height: 5rem;
}
img

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="file"] {
    display: none; /* Oculta el input file por defecto */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-align: center;
}

input[type="text"] {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b; /* Cambia a un tono más oscuro al pasar el ratón */
}
